<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS4132 Data Analytics</b> </font>

# Chapter 5: Data Cleaning

## Airbnb Case Study Discussion

<div class="alert alert-block alert-warning">
In groups of 4, discuss what are the steps you will take to clean the dataset given in <b>airbnb.csv</b>   
    
Groups will be asked to present using the word document at the end of discussion time. 
    
You may use this notebook to test out your code for relevant sections.
</div>

In [35]:
import pandas as pd
import numpy as np

# Load the dataset here
df_airbnb = pd.read_csv("airbnb.csv", encoding='ISO-8859-1')
df_airbnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19/10/2018,0.21
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21/5/2019,0.38
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,5/7/2019,4.64
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19/11/2018,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48892,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN
48893,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN
48894,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN
48895,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN
48896,36487246,Private room in Williamsburg Brooklyn,198900829,David,Brooklyn,Williamsburg,40.71142,-73.96141,Private room,80,5,1,14/8/2018,0.09

Consider the following when cleaning your data.

#### 1) Handling Missing Data
* Are there any missing data in the dataset?
* How might the data collection process have contributed to these missing values?
* What are the suggested ways to impute the missing data?
* What are the implications of different imputation methods on our subsequent analysis?

<div class="alert alert-block alert-info">

Double click here and type your explanations here.   
    
There are 16 missing values for name, 21 misisng values for host_name, 10052 missing last_reviews and 10052 missing reviews_per_month
   
For people who submitted 0 reviews, their missing last_reviews and reviews_per_month is NaN. last_reviews, name and host_name can be replaced with 'unknown' while reviews_per_month is replaced with 0
    
There will be a gap for non-numerical data 
    
</div>

In [37]:
#enter your code here
df_airbnb['reviews_per_month'].fillna(0, inplace=True)
df_airbnb.fillna('unknown', inplace=True)
df_airbnb.isna().sum()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19/10/2018,0.21
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21/5/2019,0.38
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,unknown,0.00
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,5/7/2019,4.64
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19/11/2018,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48892,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,unknown,0.00
48893,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,unknown,0.00
48894,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,unknown,0.00
48895,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,unknown,0.00
48896,36487246,Private room in Williamsburg Brooklyn,198900829,David,Brooklyn,Williamsburg,40.71142,-73.96141,Private room,80,5,1,14/8/2018,0.09

#### 2) Removing Duplicates
* Are there any duplicates in the dataset?
* How would you define an approximate duplicate in this context?
* What methods could you use to identify and handle approximate duplicates?

<div class="alert alert-block alert-info">

Double click here and type your explanations here.    
    
</div>

In [ ]:
#enter your code here

#### 3) Data Formatting & Consistency
* Are there any formatting issues? 
* What data formatting techniques can you apply on the dataset?
* How might these formatting issues impact your analysis?
* How can you ensure consistent formatting across all string columns in a dataset?
* Are there any inconsistent data in the dataset? How can you check them?
* How would you handle these inconsistencies?

<div class="alert alert-block alert-info">

Double click here and type your explanations here.    
    
</div>

In [ ]:
#enter your code here

#### 4) Data Binning
* Which column data may be suitable to apply binning?
* Why might we want to bin the selected column into categories? How does this affect our analysis?
* What are the advantages and disadvantages of using quantiles for binning?

<div class="alert alert-block alert-info">

Double click here and type your explanations here.    
    
</div>

In [ ]:
#enter your code here